.one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.erreur {
  font-size: 100px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  margin: 50px;
  width: 20px;
  border-radius: 10px;
  border: 0.4px solid black;
  -webkit-box-shadow: 5px 5px 17px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 17px -2px rgba(0, 0, 0, 0.4);
  padding: 5px;
}
