.list {
  height: 800px;
  background-color: beige;
  width: 30vw;
  margin-left: 70px;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  font-family: "Roboto";
}
.genre {
  display: flex;
  justify-content: space-around;
}

.bloc {
  padding: 40px;
}

.type {
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.affiche {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.resume {
  overflow: scroll;
  font-size: 15px;
}
