a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
  margin-top: 50px;
}

.menu {
  padding-top: 50px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.navbar {
  border-right: 1px solid rgba(0, 0, 0, 0.13);
  width: 20vw;
  height: 100vh;
}

.result {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.presentation {
  width: 50px;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 40px;
  font-weight: 900;
}

a {
  margin-left: 30px;
  font-size: 1.1rem;
}

.logo {
  width: 100px;
  display: flex;
  margin: auto;
  padding-top: 70px;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 0 0 0;
  margin: 0;
}

img {
  width: 1.1em;
}

.menu,
ul {
  margin-left: 10%;
}

.menu:hover {
  opacity: 0.5;
}

.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 6rem auto;
}

.searchBar {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
