.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 10px 10px 23px -5px rgba(0, 0, 0, 0.68);
  background-color: white;
}

.image {
  width: 25em;
  padding-right: 75px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-direction: column;
  height: 600px;
}

details,
summary {
  width: 300px;
  padding-top: 10px;
}

summary {
  border-top: 1px solid rgba(175, 174, 174, 0.39);
}
